@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --color-main: #ff1b67;
    --color-bg: #111111;
    --color-bg-light: #eff0f3;
}

body {
    background-color: var(--color-bg-light);
    overflow-x: hidden;

}

header {
    background-color: #0d0d0d;
    width: 100%;
    height: 70px;
    border-bottom: 5px solid var(--color-main);
    display: flex;
    align-items: center;    
    z-index: 1000;
    box-sizing: border-box;
}

.header-content{
    z-index: 1;
}


.bot-word {
    color: var(--color-main);
    transition: 0.3s;
}

.botaohamburger {
    display: none;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #d9376e;
    transition: 0.25s ease-in-out;

}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

.menuhamburger {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #0d0d0d;
}

#checkbox-menu:checked {
    width: 100%;
    height: 100vh;
    background-color: #0d0d0d;

}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    display: none;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

#menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    background-color: var(--color-bg);
    z-index: 1000;
    transition: .6s;    
    overflow: hidden;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
}

.navbar-logo{
    font-size: 45px;
}

.navbar-logo a{
    color: var(--color-bg-light);
    text-decoration: none;
    transition: 0.3s;

}

.navbar-logo a:hover  {
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.5);

}

.navbar-logo a:hover .bot-word {
    text-shadow: 1px 1px 10px var(--color-main);
}

.nav-items {
    display: flex;
    gap: 30px;
}

.nav-items a {
    text-decoration: none;
    color: var(--color-bg-light);
    transition: .2s;
}

.nav-items a:hover {
    text-shadow: 0px 0px 6px var(--color-main);
    color: var(--color-main);
}

.page1 {
    background-image: url(../images/bg-image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.bg-gradient-div1{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
}

.bot span {
    animation-name: brilho;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
}

.bot span:nth-child(1) {
    animation-delay: 0.5s
}

.bot span:nth-child(2) {
    animation-delay: 1s
}

.bot span:nth-child(3) {
    animation-delay: 1.5s
}

.bot span:nth-child(4) {
    animation-delay: 2s
}

.bot span:nth-child(5) {
    animation-delay: 2.5s
}

.bot span:nth-child(6) {
    animation-delay: 3s
}

.bot span:nth-child(7) {
    animation-delay: 3.5s
}

.bot span:nth-child(8) {
    animation-delay: 4s
}






@keyframes brilho {
    0% {
        color: var(--color-main);
        text-shadow: 0 0 12px var(--color-main), 0 0 50px var(--color-main);
    }

    10%,
    90% {
        color: var(--color-bg-light);
        text-shadow: none;
    }
}

.introdution-text {
    width: 70%;
    text-align: left;
    font-size: 25px;
    color: var(--color-bg-light);
}

.btn-macrobot {
    color: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 20px;
    display: flex;
    text-decoration: none;
    transition: .2s;
    justify-content: center;
    align-items: center;
    padding: 10px 80px;
    z-index: 1;
}

.btn-macrobot:hover {

    background-color: var(--color-main);
    color: #eff0f3;
}

.page2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,1),var(--color-bg),var(--color-bg),  rgba(0,0,0,1));

    display: flex;
    background-color: var(--color-bg);
    padding: 60px 0;
}

.accordion {
    width: 70%;
}

.accordion-item {
    border: 1px solid var(--color-main);
    display: flex;
    justify-content: space-between;

}

.accordion-arrow{
    border: 1px solid var(--color-main);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-arrow span{
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-main);
}

.accordion-arrow-animate {
    transform: rotate(90deg);
    position: absolute;
}


.page3 {
    background-image: url(../images/bg-image2.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.bg-gradient-div2{
    position: absolute;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));

}

.page3 p {
    color: var(--color-bg-light);
    width: 80%;
    align-content: center;
    z-index: 1;
}

.botoes {
    display: flex;
    gap: 20px;
}


.page4 {
    background-color: var(--color-bg);
}

.page5 {
    height: 100vh;
    background-image: url(../images/bg-image3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.page5 h1 {
    color: var(--color-bg-light);
}

.page6 {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.page7 {
    background: url(../images/bg-image4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    text-align: center;
    flex-direction: column;
    display: flex;
}

.box::after {
    content: 'Felipe Bezerra';
    animation: text 5s infinite;
    font-size: 40px;
    text-shadow: 0 0 12px var(--color-main), 0 0 50px var(--color-main);

    ;
}

@keyframes text {
    25% {
        content: 'Felipe Bezerra'
    }

    50% {
        content: "Alice Calisti";
    }

    75% {
        content: 'Abner Aragon';
    }

    100% {
        content: 'Rodrigo Felipe';
    }
}

.btn-enviar {
    background-color: var(--color-main);
    border: 1px solid var(--color-bg-light);
    color: var(--color-bg-light)
}

.btn-enviar:hover {
    --bs-btn-hover-border-color: var(--color-bg-light);
    color: var(--color-bg-light);
}

textarea {
    resize: none;
}

.form-label {
    color: var(--color-bg-light)
}

.form-control,
.form-select {
    border: 1px solid var(--color-main);
}

.page8 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
}

.foot {
    font-size: 18px;
}

.foot a {
    text-decoration: none;
    color: var(--color-main);
    font-size: 18px;
}

.git {
    font-size: 40px;
}

.page-next {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-bg-light);
    background-color: var(--color-bg);
    align-items: center;
    border-top: 1px solid var(--color-main);
}



@media (max-width: 576px) {
    .header p {
        font-size: 50px;
        margin: auto auto 4px 0px;
        font-size: 30px;
    }

    .navbar-content {
        display: flex;
        
    }

    .navbar-logo a{
        font-size: 30px;
    }

    .navbar-logo {
        display: flex;
        align-items: center;
    }

    .show576 {
        display: flex;
    }

    .btn-macrobot {
        padding: 8px 50px;
    }



    #menu {
        list-style-type: none;
        position: absolute;
        padding-bottom: 30px;
        height: 0;
    }

    #menu li {
        margin-top: 40px;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--color-main);
        margin-right: 30px;
    }

    #menu a {
        padding: 0.5rem 0;
        padding-right: 30px;
        margin: 0 1rem;
        text-decoration: none;
        color: var(--color-bg-light);

    }

    .nav-items {
        display: none;
    }



    .page1 {
        display: flex;
        justify-content: center;

    }

    #page1 h1 {
        font-size: 55px;
        text-align: center;
        color: var(--color-bg-light);
    }

    .header-content {
        margin: 0;
        margin-top: -70px;
    }

    .introdution-text {
        width: 70%;
        font-weight: lighter;
        font-size: 18px;
        text-align: center;
        margin: 0 auto;
    }

    .page2 {
        padding: 60px 0;
    }

    .page3 {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .page3 p {
        text-align: center;
        margin: 50px auto 0;
        font-size: 18px;
    }

    .botoes {
        flex-direction: column;
        margin-top: 35px;
    }

    .botoes a {
        margin-top: 20px;
        font-size: 15px;
        width: 150px;
    }

    .page4 {
        display: flex;
    }

    .page4 h1 {
        display: none;
    }

    .cards {
        margin: 30px auto;
    }

    .card {
        width: 70%;
        margin: 10px auto;
        text-align: center;
    }

    .card h5 {
        font-weight: bold;
    }

    .page5 {
        justify-content: center;
    }

    .page5 h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .carousel {
        width: 90%;
    }

    .page6 h1 {
        font-size: 40px;
        text-align: center;
        margin: 80px 0 0;
        color: var(--color-bg-light);
    }

    .videos {
        height: 500px;
    }

    .ratio {
        width: 90%;
        margin: 30px auto 40px;
    }

    .page7 {
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nossa {
        font-size: 20px;
        font-weight: bold;
        color: var(--color-bg-light);
    }

    .box::after {
        font-size: 40px;
        font-weight: lighter;
        color: var(--color-bg-light);
    }

    .forms {
        width: 90%;
        margin: 0 auto;
    }

    .foot {
        font-size: 15px;
        display: flex;
        text-align: center;
    }

    .foot a {
        text-decoration: none;
        color: var(--color-main);
        font-size: 15px;
    }

    .sobrenome {
        display: none;
    }

    .text-page8 {
        text-align: center;
        color: var(--color-bg-light);
    }

    .page-next h2 {
        font-size: 20px;
        font-weight: lighter;
    }

    .page-next h1 {
        font-size: 30px;
        font-weight: bold;
    }




}

@media(min-width: 768px) {
    .nav-items a {
        font-size: 13px;

    }


    #page1 h1 {
        font-size: 80px;

        margin-left: 50px;
        color: var(--color-bg-light);
    }

    .page1 p {
        margin-left: 50px;
    }

    .btn-macrobot {
        width: 125px;
        margin-top: 1px;
    }



    .page3 {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .page3 p {
        font-size: 30px;
    }

    .botoes a {
        margin-top: 30px;
    }

    .page4 {
        display: flex;
        height: 100vh;
    }

    .page4 h1 {
        display: none;
    }


    .cards {
        margin: 0px auto;
        width: 70%;
        padding-top: 22px;
    }

    .card {
        width: 40%;
        height: 240px;
        margin: 10px auto;
        text-align: center;
        align-items: center;
    }

    .card h5 {
        font-weight: bold;
    }

    .card-img-top {
        width: 120px;
    }

    .page5 {
        justify-content: center;
    }

    .page5 h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .carousel {
        width: 60%;
    }

    .page6 h1 {
        font-size: 40px;
        text-align: center;
        margin: 80px 0 0;
        color: var(--color-bg-light);
    }


    .ratio {
        width: 40%;
        margin: 30px auto 40px;
    }

    .page7 {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nossa {
        font-size: 45px;
        color: var(--color-bg-light);
    }

    .box::after {
        font-size: 90px;
        font-weight: lighter;
        color: var(--color-bg-light);
    }

    .forms {
        width: 80%;
        margin: 0 auto;
    }

    .page8 h1 {
        font-size: 60px;
        text-align: center;
        color: var(--color-bg-light);
        margin-bottom: 20px;
    }

    .ratio-next {
        width: 60%;
    }

    .page-next h2 {
        font-size: 20px;
        font-weight: lighter;
        width: 80%;
        text-align: center;
    }

    .page-next h1 {
        font-size: 30px;
        font-weight: bold;
    }
}

@media(min-width: 1024px) {
    .nav-items a {
        font-size: 14px;

    }


    .page4 {
        flex-direction: column;
        justify-content: center;
    }

    .page4 h1 {
        display: flex;
        margin-left: 50px;
        font-size: 70px;
        color: var(--color-bg-light);
    }

    .cards {
        margin: 0px auto;
        width: 100%;
        height: 53vh;
        justify-content: space-between;
        padding-top: 0px;
        padding: 0px 50px;
    }

    .card {
        width: 14rem;
        height: 100%;
        margin: 10px auto;
        text-align: center;
        align-items: center;
    }

    .card-img-top {
        width: 100%;
    }

    .page5 {
        justify-content: center;
    }

    .page5 h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .carousel {
        width: 50%;
    }

    .page6 {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }

    .page6 h1 {
        font-size: 40px;
        text-align: center;
        margin: 80px 0 0;
    }

    .video1 {
        display: flex;
        width: 100%;
        margin-right: 30px;
    }

    .video2 {
        display: flex;
    }


    .videos {
        width: 90%;
        height: 70vh;
    }

    .ratio {
        width: 100%;
    }

    .forms {
        width: 85%;
        margin: 0 auto;
    }

    .ratio-next {
        width: 50%;
    }

    .page-next {
        padding: 60px 0;
    }
}

@media(min-width: 1440px) {

    .btn-macrobot {
        margin-top: 120px;

    }

    .cards {
        width: 80%;
    }

    .page4 h1 {
        margin-left: 230px;
    }

    .page3 p {
        margin-bottom: 60px;
    }

    .page6 h1 {
        font-size: 50px;
    }

    .nossa {
        font-size: 50px;
    }

    .page8 h1 {
        font-size: 50px;
    }



    .carousel {
        width: 40%;
    }

    .page5 h1 {
        margin-bottom: 30px;
    }

}